

:root{
    --azul-medico: #007BFF;
    --blanco: #FFFFFF;
    --gris-claro: #F5F5F5;
    --gris-oscuro: #333333;
    --gris-oscuro-claro: #7D7D7D;
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-secundaria: 'Roboto', sans-serif;
}
/* Estilos generales*/
body{
    font-family: var(--fuente-principal);
    font-size: 16px;
    line-height: 1.5;
    color: var(--gris-oscuro);
    background-color: var(--gris-claro);
    min-height: 100vh;
    min-width: 100vh;
    padding: 0;
    margin: 0;
}
h1 h2 p{
    margin: 0;
    padding: 0;
}

/*Normalizar el diseño los input*/
section{
    min-height: 100vh;
    min-width: 100vh;
    display: grid ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

div{
    background: var(--gris-oscuro);
    color: #F5F5F5;
    text-align: center;
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#center{
    min-height: 50vh;
    background-color: #007BFF;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

#input-box{
    background: var(--azul-medico);
    border: 2px solid var(--gris-oscuro);
    font-size: 16px;
    transition: .3s;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 50px;
    border-radius: 5px;
}

#input-box input{
    text-align: center;
    background: var(--azul-medico);
    color: var(--blanco);
    font-size: 18px;
    width: 100%;
    padding: 0 10px;
    border: 2px solid var(--gris-oscuro);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}